{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}

<h1 class="text-center mt-4">{% trans "Sign Out" %}</h1>

<p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>

<div class="row justify-content-center mt-4">
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-small btn-primary text-center mb-4" type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>


{% endblock content %}
