{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block login %}

<div class="container-fluid"></div>

<div class="row justify-content-center">
  <div class="col-md-8 mt-3">

<h1 class="text-center mt-4">{% trans "Sign Up" %}</h1>

<p class="text-center mt-4">{% blocktrans %}Already have an account? Then please <a class="btn btn-sm btn-secondary p-0" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

</div>
</div>
<div class="row justify-content-center">
  <div class="col-md-8 mt-3">
    <div class="row justify-content-center">
<div class="form-group text-center">


<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary btn-sm" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
</div>
</div>
</div>
</div>

{% endblock login %}
