{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated and perms.defect.view_defect and perms.defect.view_update %}
<div class="container-lg">
    <div class="row mt-3">
        <div class="col">
            <h2>Category List</h2>
        </div>
    </div>
    <div class="row border border-secondary rounded bg-white -mt-3">
        <div class="col">
            {% for category in categories %}
            <div class="row mt-2">
                <div class="col-2"><p><i class="fa-solid {{category.fa_string}} fa-icon-lg" style="color:{{ category.colour }};"></i></p></div> 
                <div class="col-3"><p>{{category.name}}</p></div>
                <div class="col-7"><p>{{category.description}}</p></div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if user.is_authenticated and perms.defect.add_category %}
    <div class="row mt-5">
        <div class="col">
            <h2>Add category</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id="CategoryForm" method="post" style="margin-top: 1.3em;">
                {{ category_form | crispy }}
                {% csrf_token %}
                <div class="col text-center">
                <button id="submitButton" type="submit" class="btn btn-primary btn-lg mb-5">Submit</button>
            </div>
                </form>
        </div>
    </div>
    {% endif %}
</div>

        
    
   
{% endif %}
{% endblock %}