{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-lg">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Defect List</h2>
        </div>
    </div>
    
        <!-- filtering form -->
            <form method="GET" action=".">
                <div class="row border border-secondary rounded bg-white">
                    <div class="col-1">
                        <select class="form-control" id="category" name="category" aria-label="Select category">
                        <option value="all" selected>All</option>
                        {% for category in categories %}
                        {% if category.name != 'Null' %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                    <div class="col-3">
                <input class="form-control" type="search" id="title_contains" name="title_contains" aria-label="Search in title" placeholder="search in title">
                    </div>
                    <div class="col-3">
                        <input class="form-control" type="search" id="body_contains" name="body_contains" aria-label="Search in body" placeholder="search in body">
                            </div>
                <div class="col-1">
                <select class="form-control" id="author" name="author" aria-label="Select author">
                    <option value="all" selected>All</option>
                    {% for user in users %}
                    <option value="{{ user.id }}">{{ user }}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="col-1">
                <select class="form-control" id="status" name="status" aria-label="Select status filter">
                    <option value="all" selected>Any</option>
                    <option value=0>Open</option>
                    <option value=1>Resolved</option>
                </select>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-primary btn-sm form-control">Search</button>
                </div>
                
            </form>
        <div class="col-1">
            <form action="{% url 'def_list' 1 %}">
                <input class="form-control btn btn-secondary btn-sm" type="submit" value="Reset" />
            </form>
            </div>
        </div>
        <br>
    <!-- column headers -->
    <div class="row border border-secondary rounded bg-white">
        <div class="col px-0 py-1">
            <p><i class="fa-solid fa-flag"></i></p>
            
        </div>
        <div class="col px-0 py-1">
            <p><i class="fa-solid fa-comment"></i></p>
        </div>
        <div class="col-3 px-0 py-1">
            <p class="text-truncate">title</p>
        </div>
        <div class="col-3 px-0 py-1">
            
        </div>
        <div class="col px-0 py-1">
            <p class="text-truncate">date</p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" id="date_sort" name="date_sort">
                  Sort by
                </button>
                <div class="dropdown-menu">
                  <p class="dropdown-item" value="asc">Ascending</p>
                  <p class="dropdown-item" value="dsc">Descending</p>
                  
                </div>
              </div>
        </div>
        <div class="col-1 px-0 py-1">
            <p class="text-truncate">author</p>
        </div>
        <div class="col px-0 py-1">
            <p class="text-truncate m-auto">Resolved</p>
        </div>
    </div>
    <br>
    <!-- data -->
    <div class="row border border-secondary rounded bg-white">
        <div class="col">
            {% for defect in defects %}
            
            <div class="row border-top border-bottom">
            
                <div class="col pl-1 pr-0 py-1"><p class="m-auto"><i class="fa-solid {{ defect.category.fa_string }}" style="color: {{ defect.category.colour }};"></i></p></div>
                <div class="col px-0 py-1"><p class="m-auto">{{ defect.updates.count }}</p></div>
                <div class="col-3 px-0 py-1"><a class="text-dark word-wrap" href="{% url 'def_detail' defect.defect_id %}"><p class="text-truncate">{{defect.trunc_title}}</p></a></div>   
                <div class="col-3 px-0 py-1"><a class="text-dark word-wrap" href="{% url 'def_detail' defect.defect_id %}"><p class="text-truncate">{{defect.excerpt}}</p></a></div>   
                <div class="col px-0 py-1"><p class="text-truncate m-auto">{{defect.reported_on|date:"d/m/Y"}}</p></div>
                <div class="col-1 px-0 py-1"><p class="text-truncate m-auto">{{defect.author}}</p></div>
                <div class="col px-0 py-1"><p class="text-truncate ml-auto">
                    {% if defect.status %}
                    <i class="fa-solid fa-circle-check"></i>
                    {% else %}
                    <i class="fa-solid fa-gear"></i>
                    {% endif %}
                    <!--{{defect.status}}-->
                </p></div>
            </div>

            <div class="row border-bottom">
                
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col">
        <!-- pagination -->
            <nav class="pagination-nav" aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if defects.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% url 'def_list' defects.previous_page_number %}">Previous</a></li>
                    {% endif %}

                    {% for num in defects.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="{% url 'def_list' num %}">{{ num }}</a></li>
                    {% endfor %}

                    {% if defects.has_next %}
                    <li class="page-item"><a class="page-link" href="{% url 'def_list' defects.next_page_number %}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    
</div>
{% endblock %}