{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load cloudinary %}   
{% block content %}
{% if user.is_authenticated and perms.defect.view_defect and perms.defect.view_update %}
<div id="defect" class="d-none">{{ defect.defect_id }}</div>
    <div class="container-lg">
        <div class="row border border-secondary rounded bg-white mt-4">
            <div class="col">
                <div class="row justify-content-center-md-center mt-4">
                    <div class="col-2">
                        <h2><i class="fa-solid {{defect.category.fa_string}}" style="color: {{ defect.category.colour }};"></i></h2>
                    </div>
                    <div class="col-10">
                        <h2 class="text-left">{{ defect.title }}</h2>
                    </div>
                </div>
                <div class="row mb-0">
                    <div class="col">
                        <p class="text-right">Reported {{ defect.reported_on|date:"d/m/Y H:i" }} by {{ defect.author }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border border-secondary rounded bg-white mt-3">
            <div class="col my-4">
                {% autoescape off %}
                {{ defect.body }}
                {% endautoescape %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col"> 
                <!-- images go here -->
                <!-- images go here -->
                {% if "placeholder" in defect.image_url.url %}
                <p>No images.</p>
                {% else %}
                <a href="{{ defect.image_url.url }}" target="_BLANK">
                    <!--<img width="200" height="200" class="img-fluid img-thumbnail" src="{{ defect.image_url.url }}">-->
                    <div class="col border rounded" style="width: 200px; height: 200px; background-image: url({{ defect.image_url.url }}); overflow: hidden; background-position:center; background-size: cover;"></div>
                </a>
                <!--{% cloudinary defect.image_url format="jpg" width=120 height=80 crop="fill" %}-->
                {% endif %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h3>Updates</h3>
                <a class="btn btn-secondary" href="#update_{{update_latest.update_id}}">Latest</a>
            </div>
            <br>
        </div>
        {% for update in updates %}
        <div class="row border border-secondary rounded bg-white mt-4">
            <div class="col">
                <div class="row">
                    <div class="col mx-0">
                        <p class="text-right">{{ update.created_on|date:"d/m/Y H:i" }} by {{ update.author }}</p>
                    </div>
                    <div class="col-1 mx-1">
                        <p class="text-right">{% if update.resolution %}<i class="fa-solid fa-circle-check"></i>{% else %}<i class="fa-regular fa-circle"></i>{% endif %}</p>
                    </div>
                </div>
                <div class="row" id="update_{{ update.update_id }}">
                    <div class="col mb-4 mt-2">
                        {{ update.body }}
                    </div>
                </div>
                <hr>
                <div class="row mt-3">
                    <div class="col">
                        <!-- images go here -->
                        {% if "placeholder" in update.image_url.url %}
                        <p>No images.</p>
                        {% else %}
                        <a href="{{ update.image_url.url }}" target="_BLANK">
                            <!--<img width="200" height="200" class="img-fluid img-thumbnail" src="{{ update.image_url.url }}">-->
                            <div class="col border rounded mb-2" style="width: 200px; height: 200px; background-image: url({{ update.image_url.url }}); overflow: hidden; background-position:center; background-size: cover;"></div>
                        </a>  
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col text-right">
                        {% if user.is_authenticated and update.author == user or perms.update.change_update %}
                        <button class="btn btn-edit btn-secondary mb-4" defect_id="{{ defect.defect_id }}" update_id="{{ update.update_id }}">Edit</button>
                        <button class="btn btn-delete btn-danger mb-4" defect_id="{{ defect.defect_id }}" update_id="{{ update.update_id }}">Delete</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row" id="new_edit">
        <div class="col">
            <!-- new updates -->
            <div class="div my-5">
                <div class="col">
                    {% if user.is_authenticated and perms.defect.add_update %}
                    <h2>New Update</h2>
                    <form id="updateForm" method="post" enctype="multipart/form-data" style="margin-top: 1.3em;">
                    {{ update_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-primary btn-signup btn-lg">Submit</button>
                    </form>
                    {% else %}
                    Log in to leave an update
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete Update?</h5>
        <button type="button" class="btn-close"
          data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your update?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock content %}

{% block extras %}
<script src="{% static 'js/updates.js' %}"></script>
{% endblock %}