{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-lg">
    <div class="row">
        <div class="col">
            {% if user.is_authenticated and perms.defect.add_defect %}
                        Log New Defect
                        <form id="DefectForm" method="post" style="margin-top: 1.3em;">
                            {{ defect_form | crispy }}
                            {% csrf_token %}
                            <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                            </form>
                        {% else %}
                        Log in to leave an update
                        {% endif %}
        </div>
    </div>
</div>
{% endblock %}