h1 {
    color: red;
}

.fa-icon-lg {
    font-size: xx-large;
}
a {
    text-decoration: none;
    color: black;
}
a:link {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}

.pagination-nav {
    margin: auto;
}

.bb-footer {

    height: 100px;
    background-color: aqua;
}

